* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -72px;
}

.footer, .push {
	height: 72px;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url(../images/fresh_snow.png);
}

header {
	background-color: #ffffff;
	border-bottom: solid 1px #cccccc;
	clear: right;
	overflow: auto;
}

header h2 {
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 20px;
	width: 125px;
	margin-top: 0px;
}

p {
	font-size: 12px;
	line-height: 150%;
	padding-bottom: 12px;
}

header a {
	font-size: 12px;
	text-decoration: none;
}

header a:hover {
	color: #cc3399;
}

header a:visited {
	color: #cc3399;
}

h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-top: 20px;	
}

h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
}

.name {
	float: left;
	width: 650px;
	margin-left: 100px;
	margin-right: 75px;
}

.links {
	float: left;
	width: 270px;	
	margin-top: 20px;
}

.main {
	float: left;
	width: 650px;
	margin: 20px 20px 20px 100px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;	
}

.port-main {
	float: left;
	width: 650px;
	height: 820px;
	margin: 20px 20px 20px 100px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;	
}

.sidebar {
	float: left;
	width: 175px;	
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

.bio-text {
	padding-top: 20px;
}

footer {
	background-color: #666666;
	clear: both;
	padding: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 8px;
	border-top: 6px solid #4aaaa5;
}

.bio-image {
	width: 200px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

.logo-image {
	width: 50px;
	padding-top: 20px;
}

input {
	padding: 10px;
	margin: 10px 0;
	width: 630px;
}

form {
	padding-top: 20px;
	font-size: 12px;	
}

textarea {
	padding: 10px;
	margin: 10px 0;
	width: 630px;
}

.button {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 100px;
}

.port-container {
	width: 650px;
	position: relative;
}

.port-image-1 {
	width: 305px;
	position: absolute;
	left: 0px;
	top: 20px;
}

.port-image-2 {
	width: 305px;
	position: absolute;
	left: 340px;
	top: 20px;
}

.port-image-3 {
	width: 305px;
	position: absolute;
	left: 0px;
	top: 280px;
}

.port-image-4 {
	width: 305px;
	position: absolute;
	left: 340px;
	top: 280px;
}

.port-image-5 {
	width: 305px;
	position: absolute;
	left: 0px;
	top: 540px;
}

.port-text-1 {
	z-index: 100;
	position: absolute;
	color: #ffffff;
	left: 0px;
	top: 175px;
	background-color: #4aaaa5;
	padding: 20px;
	width: 265px;
}

.port-text-2 {
	z-index: 100;
	position: absolute;
	color: #ffffff;
	left: 340px;
	top: 175px;
	background-color: #4aaaa5;
	padding: 20px;
	width: 265px;
}

.port-text-3 {
	z-index: 100;
	position: absolute;
	color: #ffffff;
	left: 0px;
	top: 435px;
	background-color: #4aaaa5;
	padding: 20px;
	width: 265px;
}

.port-text-4 {
	z-index: 100;
	position: absolute;
	color: #ffffff;
	left: 340px;
	top: 435px;
	background-color: #4aaaa5;
	padding: 20px;
	width: 265px;
}

.port-text-5 {
	z-index: 100;
	position: absolute;
	color: #ffffff;
	left: 0px;
	top: 695px;
	background-color: #4aaaa5;
	padding: 20px;
	width: 265px;
}